[user]
	email = fredrik.j.lindberg@gmail.com
	name = Fredrik Lindberg
[core]
	editor = code --wait
	excludesfile = ~/git/dotfiles/.gitignore_global
[alias]
	autoFixup = !git stash push --keep-index --include-untracked && git commit --fixup=$1 --no-verify && git -c sequence.editor=: rebase -i --autosquash $1~1  && git stash pop && :
	interactiveFixup = !git stash push --keep-index --include-untracked && git commit --fixup=$1 --no-verify && git rebase -i --autosquash $1~1 && git stash pop && :
