[user]
	email = fredrik.j.lindberg@gmail.com
	name = Fredrik Lindberg
[core]
	editor = code --wait
	excludesfile = ~/git/dotfiles/.gitignore_global
[alias]
	autoFixup = !git commit --fixup=$1 && git -c sequence.editor=: rebase -i --autosquash $1~1 && :
