[user]
	email = fredrik.j.lindberg@gmail.com
	name = Fredrik Lindberg
[core]
	editor = code --wait
	excludesfile = ~/git/personal/dotfiles/.gitignore_global
[alias]
	hasStagedChanges = "!f() { \
		       git diff --cached --quiet && git status && return 1 2>/dev/null || return 0; \
		     }; f"
	rbc = !git rebase --continue
	rba = !git rebase --abort
	cpc = !git cherry-pick --continue
	cpa = !git cherry-pick --abort
	cp = !git cherry-pick
	bg = !git branch -r | grep
	cma = !git commit --amend
	cman = !git commit --amend --no-edit --no-verify
	autoFixup = !git hasStagedChanges && git stash push --keep-index --include-untracked && git commit --fixup=$1 --no-verify && git -c sequence.editor=: rebase -i --autosquash $1~1  && git stash pop && :
	interactiveFixup = !git hasStagedChanges && git stash push --keep-index --include-untracked && git commit --fixup=$1 --no-verify && git rebase -i --autosquash $1~1 && git stash pop && :
	please = push --force-with-lease
[push]
	autoSetupRemote = true
	default = current